* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid__container{
  width: 1440px;
  height: 900px;
  border: 2px solid red;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  align-content: space-around;
  padding: 10px;
}
.item{
  border: 2px solid green;
}
#item1{
  background-color: #007F5F;
  grid-row-start: 1;
  grid-row-end: 3;
}
#item2{
  background-color: #80B918;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;


}
#item3{
  background-color: #DDDF00;
  grid-column-start: 4;
  grid-column-end: -1;
  height: 122px;
  
}
#item4{
  background-color: #EEEF20; 
  grid-column-start: 4;
  grid-column-end: -1;
  height: 122px;
  
}
#item5{
  background-color: #FFFF3F;
  grid-column-start: 4;
  grid-column-end: -1;
  height: 122px;
}
#item6{
  background-color: #BFD200;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 9;
}
#item7{
  background-color: #2B9348;
  grid-row-start: 3;
  grid-row-end: 5;
}
#item8{
  background-color: #55A630;
  grid-row-start: 5;
  grid-row-end: 7;
  height: 268px;
  
}
#item9{
  background-color: #D4D700;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 9;
}
#item10{
  background-color: #AACC00;
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 3;
}
#item11{
  background-color: #007F5F;
  grid-column-start: 4;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: 9;
}
#item12{
  background-color: #9BC1BC;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 9;
  grid-row-end: 12;
  align-content: center;
  height: 140px;
  font-weight: bold;
  font-size: xx-large;
}
